<div class="filters">
  <mat-form-field>
    <mat-label>Sort</mat-label>
    <mat-select panelClass="sort-select" [(ngModel)]="sort">
      <mat-option value="name">Name</mat-option>
      <mat-option value="-released">Released</mat-option>
      <mat-option value="-added">Added</mat-option>
      <mat-option value="-created">Created</mat-option>
      <mat-option value="-updated">Updated</mat-option>
      <mat-option value="-rating">Rating</mat-option>
      <mat-option value="-metacrilic">Metacrilic</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="games">
  <div class="game">
    <div class="game-thumb-container">
      <img
        src="https://images.pexels.com/photos/275033/pexels-photo-275033.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="thumbnail"
      />
    </div>
    <div class="game-description">
      <p class="name">Name</p>
      <div class="game-plataforms">
        <img
          class="game-plataform"
          src="https://images.pexels.com/photos/275033/pexels-photo-275033.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="slug"
        />
      </div>
    </div>
  </div>
</div>
